body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.logo{
  width: 150px;
    
}

.btn-profile{
  margin-top: 20px;
  margin-right: 20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-image: linear-gradient(to left bottom, #051937, #00384f, #055659, #5b6c64, #212713);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
    background-image: linear-gradient(to right bottom, #494e55, #f1cfcf);
    color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  /* border-collapse: collapse; */
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.text-center.align-middle {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

tr th:first-child {
  width: 6%;
}

a {
  text-decoration: none;
}

.min-col {
  height: 13rem
}