* {
    box-sizing: border-box;
}
ul li {
    list-style: none;
}
body {
    background-color: #0f172a;
    font-family: "Noto Serif", serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-optical-sizing: auto;
}
.header-cinestar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 10;
    transition: all 0.4s;
    background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679586820_bogatyr-club-p-temno-fioletovii-fon-gradient-pinterest-44.jpg);
    /*background-color: #23053d;*/
}
.header-cinestar .--second {
    transform: translateY(calc(0.5rem * -1));
}
.nav-pills .nav-link.active {
    background-color: #f3ea28;
    color: black;
}
.nav-link {
    width: 100%;
    color: #f3ea28;
}
.form-check-input:checked {
    background-color: #f93;
    border-color: #f93;
}
.btn--pri {
    color: #0f172a;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    font-weight: bold;
}
.btn--pri:after,
.btn--pri:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 0.1rem;
}
.btn--pri:before {
    background: #f3ea28;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}

.btn--pri:after {
    background: linear-gradient(106deg, #639, #36c 102.69%);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
}
.btn--pri:hover {
    color: #fff;
}

.btn--pri:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0) saturate(7487%)
        hue-rotate(198deg) brightness(105%) contrast(101%);
}

.btn--pri:hover:before {
    width: 0;
}

.btn--pri:hover:after {
    width: 100%;
}

.input-search {
    border-radius: 100rem;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 1;
    padding: 0 3rem 0 1.6rem;
    width: 250px;
    color: grey;
}
.btn-search-submit {
    position: relative;
    right: 50px;
}
.link-text {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: auto;
}
.link-text:hover {
    color: yellow;
}

.signin-signup-text {
    margin: auto;
}
h1 {
    font-family: "Anton", sans-serif;
}

.heading {
    color: #f8fafc;
    font-family: var(--font-title);
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.name-product {
    font-weight: bold;
    font-family: Verdana;
}
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.card {
    background-color: transparent;
}

.bottom-card {
    justify-content: space-around;
}
.btn-xemthem {
    border: 0.1rem solid #f3ea28;
    color: #f3ea28;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    width: 300px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}
.btn-xemthem:after,
.btn-xemthem:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 0.1rem;
    border-radius: 10px;
}

.btn-xemthem:before {
    background: transparent;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
    border-radius: 10px;
}

.btn-xemthem:after {
    background: linear-gradient(90deg, #ff6d00, #ffc107);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
    border-radius: 10px;
}

.btn-xemthem:hover {
    color: #fff;
}

.btn-xemthem:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0) saturate(7487%)
        hue-rotate(198deg) brightness(105%) contrast(101%);
    transition: all 0.2s;
}

.btn-xemthem:hover:before {
    width: 0;
}

.btn-xemthem:hover:after {
    width: 100%;
}
.bg-linear {
    /* background: url(https://media.istockphoto.com/id/1362422378/photo/abstract-blurred-purple-background-light-spot-on-dark-background.jpg?s=170667a&w=0&k=20&c=3f4tWpDpLk9UfppLBZjiTTLG-1V0Q-gCknhZHF9moJM=);*/
    background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679586820_bogatyr-club-p-temno-fioletovii-fon-gradient-pinterest-44.jpg);
    /*background: url(https://metiz.vn/static/assets/websites/images/bg-session-movie.png); */
    background-size: cover;
}

.info-detail {
    padding-inline-start: 0px;
    list-style-type: none;
    font-size: 18px;
}
.info-detail li {
    margin-bottom: 10px;
}
.span-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.trailer-link {
    font-size: 20px;
    margin-top: 30px;
}
.type-movie-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 50px;
}
.type-movie {
    background-color: #f93;
    color: #000;
    padding: 0.8rem;
    height: 70px;
    width: 70px;
    text-transform: uppercase;
    display: flex;
}
.type-movie .txt {
    display: flex;
    margin: auto;
    align-items: center;
    border: 2px solid #000;
    border-radius: 0.4rem;
    display: flex;
    font-size: 12px;
    height: 1.8rem;
    justify-content: center;
    width: 1.8rem;
    font-weight: 1000;
}

.age {
    background-color: #f03;
    display: flex;
    flex-direction: column;
    font-family: var(--font-title);
    height: 70px;
    width: 70px;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}
.age .num {
    font-size: 22px;
    letter-spacing: 0.18rem;
    line-height: 100%;
    text-indent: 0.18rem;
    color: white;
    font-weight: bold;
}
.age .txt {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 5px;
    justify-content: center;
    letter-spacing: 0.4rem;
    line-height: 100%;
    padding: 0.2rem;
    text-indent: 0.4rem;
}

.cinema-list {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100px;
    background-color: transparent;
    background-size: cover;
    color: white;
    background-color: #230240;
    border: 1px solid rgba(248, 250, 252, 0.1);
    box-shadow: 4px 2px 15px #000000;
    border-radius: 5px;
    top: 50px;
    left: 10px;
}
.cinema-list li {
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.chon-Rap .icon-chonRap:hover + .cinema-list,
.chon-Rap:hover .cinema-list {
    display: flex;
}

.titleCinema {
    font-size: 45px;
    color: white;
    font-weight: 900;
}
.txtAddress {
    color: white;
}
.slide-SuatChieu {
    height: 60px;
    width: 99.3%;
    font-size: 18px;
    font-weight: 900;
    background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679586820_bogatyr-club-p-temno-fioletovii-fon-gradient-pinterest-44.jpg);
    margin-left: 12px;
    background-size: cover;
    padding: 0px;
}
.click {
    border-bottom: 0.4rem solid #f3ea28;
    color: #f3ea28;
}
.slide-SuatChieu div {
    height: 100%;
    width: 25%;
    text-align: center;
    display: grid;
    align-items: center;
}
.none-time {
    align-items: center;
    border: 0.1rem solid hsla(0, 0%, 100%, 0.4);
    border-radius: 0.4rem;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1.6rem;
}
.none-time img {
    filter: brightness(0) invert(1);
    flex-shrink: 0;
    width: 2rem;
}
.none-time .tt {
    color: white;
}
.box {
    align-items: center;
    color: #f3ea28;
    display: flex;
    font-family: var(--font-title);
    font-size: 3.6rem;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes scrollDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.movieShow.active {
    height: fit-content;
}
.movieShow {
    border: 1px solid rgba(248, 250, 252, 0.5);
    width: 100%;
    height: 40px;
    border-radius: 0.6rem;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
}
.movieShow .content-movieShow {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}
.movieShow.active .content-movieShow {
    max-height: none;
    overflow: visible;
}

.movieShow.active .movie-collapse .icon {
    transform: rotate(180deg);
}
.movieShow .movie-collapse .icon {
    position: relative;
    transition: all 0.3s ease;
}
.movie-show-item {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgba(248, 250, 252, 0.5);
    border-radius: 0.3rem;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: auto;
    margin-bottom: 5px;
}
.movie-show-item:hover {
    color: white;
}
.movie-show-item.active {
    color: yellow;
    border-color: yellow;
}

.movie-collapse {
    cursor: pointer;
}

.show-date-swiper {
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    z-index: 1;
}

.swiper-slide-item {
    border: 0.1rem solid #f3ea28;
    padding: 10px;
    gap: 0.4rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin: 0 15px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swiper-slide-item.active {
    background-color: #f3ea28;
    transition: all 0.2s;
}
.swiper-slide-item.active .date {
    color: #639;
    transition: all 0.2s;
}
.swiper-slide-item.active .day {
    color: #639;
    transition: all 0.2s;
}
.swiper-slider {
    width: 135px;
}
.date {
    color: #f3ea28;
    font: "Anton", sans-serif;
    font-size: 20px;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0px;
}
.day {
    color: #f3ea28;
    margin: 0px;
}
.shtime-body {
    display: flex;
}
.btn-group-vertical > .btn,
.btn-group > .btn {
    background: transparent;
    border-color: #f3ea28;
    color: #f3ea28;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    width: 140px;
    text-align: start;
}
.btn-group-vertical > .btn,
.btn-group > .btn::after {
    content: none;
}
.dropdown-menu.show {
    transition: all 0.2s;
}
.shtime-ft {
    margin-left: auto;
    margin-right: auto;
    width: 66.6666666667%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.shtime-ft .cinestar-item {
    transition: all 1s ease;
}
.shtime-ft .cinestar-item.active .icon {
    transform: rotate(180deg);
}
.shtime-ft .cinestar-item .icon {
    transition: all 0.3s ease;
}
.shtime-ft .cinestar-item .cinestar-heading {
    padding: 24px;
}
.shtime-ft .cinestar-heading {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.shtime-ft .cinestar-item.active .tittle {
    color: #f3ea28;
}
.shtime-ft .cinestar-item .tittle {
    color: #f8fafc;
    font-size: 24px;
    font-weight: 600;
}
.shtime-ft .cinestar-item.active {
    background: #639;
}
.shtime-ft .cinestar-item.active .cinestar-body {
    display: block;
}
.cinestar-item.collapseItem {
    background: #64748b;
    border-radius: 10px;
}
.shtime-ft .cinestar-item .cinestar-body {
    display: none;
}
.shtime-ft .cinestar-item .cinestar-body {
    padding: 0 24px 24px;
}
.shtime-ft .cinestar-item .addr {
    color: #fff;
}
.list-info {
    list-style-type: none;
    padding: 0px;
}
.shtime-ft .cinestar-item .item-info {
    margin-top: 24px;
}
.shtime-ft .cinestar-item .list-time {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
    list-style: none;
    padding: 0px;
}
.shtime-ft .cinestar-item .item-time {
    border: 0.5px solid #f8fafc;
    border-radius: 4px;
    cursor: pointer;
    line-height: 100%;
    padding: 8px 12px;
    transition: all 0.3s;
    color: white;
}
.shtime-ft .cinestar-item .item-time.active {
    color: yellow;
    border-color: yellow;
}
.ticket-heading {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.sec-heading {
    text-align: center;
}
.sec-heading .heading {
    margin-bottom: 12px;
}
.heading {
    color: #f8fafc;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
.combo-list {
    justify-content: center;
}
.food-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 1.2rem;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
.food-box:hover .content .content-top .name {
    color: #f3ea28;
}
.food-box .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    border: 0.1rem solid rgba(248, 250, 252, 0.5);
    border-radius: 0.4rem;
    flex-direction: column !important;
    padding: 2rem !important;
}
.food-box .content-top {
    align-items: flex-start;
    text-align: left;
}
.food-box .content .content-top {
    display: flex;
    flex-direction: column;
    gap: 0.4rem 0;
}
.food-box .content-top .name {
    text-transform: uppercase;
    color: white;
}
.price.sub-title {
    color: white;
}
.food-box .content .content-top .name {
    transition: all 0.2s;
}
.cursor-pointer {
    cursor: pointer;
}
.food-box .content .desc {
    color: #f3ea28;
    font-size: 14px;
}
.food-box .content-bottom {
    margin-bottom: auto;
}
.food-box .content .content-bottom {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    margin-top: auto;
}
.count {
    align-items: center;
    background: #94a3b8;
    border-radius: 4px;
    color: #0f172a;
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    line-height: 100%;
    padding: 12px 12px 10px;
    transition: all 0.3s;
    width: 100px;
    height: 38px;
}
.count .count-btn {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    transition: all 0.2s;
    z-index: 2;
}
.count .count-btn i {
    position: relative;
    transition: all 0.2s;
    z-index: 2;
}
.count .count-btn:after {
    background-color: #639;
    border-radius: 100%;
    content: "";
    height: 1.8rem;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%);
    transition: all 0.2s;
    width: 1.8rem;
    z-index: 1;
}
.count .count-number {
    font-size: 20px;
    font-weight: 400;
    display: grid;
    align-items: center;
}
.count .count-btn {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    transition: all 0.2s;
    z-index: 2;
}
.count .count-btn i {
    position: relative;
    transition: all 0.2s;
    z-index: 2;
}
.count .count-btn:after {
    background-color: #639;
    border-radius: 100%;
    content: "";
    height: 1.8rem;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -60%);
    transition: all 0.2s;
    width: 1.8rem;
    z-index: 1;
}
.count:hover {
    background: #f3ea28;
}
.count .count-btn:hover {
    color: #f3ea28;
    cursor: pointer;
}

.count .count-btn:hover:after {
    opacity: 1;
}
.seat {
    padding-bottom: var(--sp-sc);
}

.seat-list {
    --col-gap: 0.8rem;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.seat-heading.sec-heading {
    color: white;
}
.sec-heading {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
@media screen and (max-width: 700px) {
    .seat-list {
        --col-gap: 0.4rem;
    }
}

.seat-item {
    margin-bottom: 0;
}

.seat .seat-input {
    display: none;
}

.seat-input + .seat-label {
    cursor: pointer;
    display: block;
    height: 2.8rem;
    position: relative;
    transition: all 0.3s ease;
    width: 3.8rem;
}

@media screen and (max-width: 1200px) {
    .seat-input + .seat-label {
        height: 2.2rem;
        width: 2.8rem;
    }
}

@media screen and (max-width: 700px) {
    .seat-input + .seat-label {
        height: 1.2rem;
        width: 1.6rem;
    }
}

.seat-input + .seat-label:after {
    background: url(/assets/images/seat-single.svg) no-repeat top;
    background-size: contain;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
}

.seat-input.seat-vip + .seat-label:after {
    filter: brightness(0) saturate(100%) invert(76%) sepia(18%) saturate(6547%)
        hue-rotate(335deg) brightness(103%) contrast(101%);
}

.seat-input.seat-couple + .seat-label {
    cursor: pointer;
    width: 5.8rem;
}

@media screen and (max-width: 1200px) {
    .seat-input.seat-couple + .seat-label {
        width: 4.8rem;
    }
}

@media screen and (max-width: 700px) {
    .seat-input.seat-couple + .seat-label {
        width: 2.9rem;
    }
}

.seat-input.seat-couple + .seat-label:after {
    background: url(/assets/images/seat-couple.svg) no-repeat top;
    background-size: contain;
}

.seat-input.occupied + .seat-label,
.seat-input.occupied:disabled + .seat-label {
    cursor: default;
    pointer-events: none;
}

.seat-input.occupied + .seat-label:after,
.seat-input.occupied:disabled + .seat-label:after {
    filter: brightness(0) saturate(100%) invert(31%) sepia(6%) saturate(2041%)
        hue-rotate(176deg) brightness(97%) contrast(87%);
}

.seat-input.selected + .seat-label:after,
.seat-input:checked + .seat-label:after,
.seat-input:not(.occupied) + .seat-label:hover,
.seat-input:not(.selected) + .seat-label:hover {
    filter: brightness(0) saturate(100%) invert(98%) sepia(80%) saturate(2086%)
        hue-rotate(336deg) brightness(109%) contrast(91%);
}

.seat-input:not(.occupied) + .seat-label:hover,
.seat-input:not(.selected) + .seat-label:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.seat-note {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .seat-note {
        margin-top: 1rem;
    }
}

.seat-note .note-it {
    align-items: center;
    display: flex;
    gap: 0.8rem;
    color: white;
}

@media screen and (max-width: 700px) {
    .seat-note .note-it {
        font-size: 1.4rem;
        width: calc(50% - 0.4rem);
    }
}

.seat-note .note-it.note-it-couple .image {
    width: 5.5rem;
}
.tabPanel {
    transition: all 0.5s ease;
}
.tabPanel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease, transform 1s ease;
    transform: translateY(-100%);
}

.tabPanel.open {
    max-height: 1000px; /* Đảm bảo giá trị này đủ lớn để chứa nội dung của tabPanel */
    transform: translateY(0);
}
.seat-note .note-it .image {
    flex-shrink: 0;
    width: 3.2rem;
}

@media screen and (max-width: 700px) {
    .seat-note .note-it .image {
        width: 2.4rem;
    }
}

.seat-note .note-it .image img {
    width: 100%;
}

.seat-block {
    --w: 110rem;
}

.seat-block.--sm {
    --w: 80rem;
}

@media screen and (max-width: 700px) {
    .seat-block.--sm {
        --w: 42rem;
    }
}

.seat-block.--full {
    --w: 100%;
}

@media screen and (min-width: 1200px) {
    .seat-block.--full .seat-td:not(.seat-couple) .seat-wr {
        padding: 0.6rem;
    }
    .seat-block.--full .seat-name {
        bottom: -0.9rem;
    }
}

@media screen and (max-width: 800px) {
    .seat-block {
        --w: 80rem;
    }
}

.seat-main {
    margin: 0 auto;
    max-width: var(--w);
    overflow-x: auto;
    white-space: nowrap;
}

.seat-main::-webkit-scrollbar {
    display: none;
    width: 0.5rem;
}

.seat-screen {
    display: block;
    height: auto;
    margin: 0 auto 4.8rem;
    max-width: 100%;
    max-width: var(--w);
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 701px) {
    .seat-screen {
        margin-bottom: 2rem;
    }
}

.seat-screen .txt {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: -2.4rem;
    text-align: center;
    color: white;
}
p {
    margin-bottom: 0px;
}
@media screen and (min-width: 701px) {
    .seat-screen .txt {
        font-size: 2.4rem;
        margin-top: -8rem;
    }
}

.seat-table {
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .seat-table {
        max-width: 75rem;
        width: 75rem;
    }
}

.seat-table table {
    width: 100%;
}

.seat-table table tr {
    display: flex;
}

.seat-table table td {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.seat-wr {
    cursor: pointer;
    padding: 1rem;
    position: relative;
}

@media screen and (max-width: 700px) {
    .seat-wr {
        padding: 0.2rem;
    }
}

.seat-wr img {
    transition: none;
}

.seat-wr.choosing {
    color: #f3ea28;
}

.seat-wr.choosing img {
    filter: brightness(0) saturate(100%) invert(82%) sepia(85%) saturate(423%)
        hue-rotate(357deg) brightness(92%) contrast(107%);
}
.seat-wr.booked .seat-name {
    color: white;
}
.seat-wr.booked {
    cursor: default;
    pointer-events: none;
}

.seat-wr.booked img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(9%) saturate(1380%)
        hue-rotate(176deg) brightness(94%) contrast(88%);
}

.seat-name-row {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.seat-couple {
    flex: 2 !important;
}

.seat-couple .seat-wr {
    margin-top: 0.4rem;
    padding: 0.6rem 2rem;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .seat-couple .seat-wr {
        padding: 0.6rem 0.5rem;
    }
}

@media screen and (max-width: 700px) {
    .seat-couple .seat-name {
        bottom: 0.3rem;
        color: #fff;
    }
}

.seat-name {
    color: #639;
    font-family: "Anton", sans-serif;
    font-size: 0.9rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    letter-spacing: 0.02rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 2;
    font-weight: 900;
    padding-top: 5px;
}

@media screen and (max-width: 700px) {
    .seat-name {
        bottom: 1.5vw;
        color: #f93;
        font-size: 0.9rem;
    }
}

.minimap-container {
    position: relative;
}

.minimap-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 700px) {
    .minimap-container {
        height: 40vh !important;
    }
}

.minimap {
    background: #000 !important;
    opacity: 0;
    pointer-events: none;
    top: var(--sz-hd);
    transition: 0.1s ease-in-out;
    visibility: hidden;
    z-index: 60 !important;
}

@media screen and (min-width: 701px) {
    .minimap {
        display: none;
    }
}

.minimap.show {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
}

.minimap-viewport {
    border: 0.1rem solid #f93;
}

@media screen and (max-width: 700px) {
    .seat-td.seat-vip .seat-name {
        color: #fff;
    }
}

.seat-indicator-scroll {
    position: relative;
}

.seat-indicator-scroll .img-indicator-scroll {
    display: none;
}

@media screen and (max-width: 700px) {
    .seat-indicator-scroll .img-indicator-scroll {
        background: rgba(0, 0, 0, 0.7);
        display: block !important;
        height: auto;
        left: 50%;
        padding: 10px 30px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        z-index: 2;
    }
}
.seat-choosing {
    filter: brightness(0) saturate(100%) invert(82%) sepia(85%) saturate(423%)
        hue-rotate(357deg) brightness(92%) contrast(107%);
}
.seat-disable {
    filter: brightness(0) saturate(100%) invert(31%) sepia(6%) saturate(2041%)
        hue-rotate(176deg) brightness(97%) contrast(87%);
}

.sec-seat {
    display: none;
    margin-bottom: 100px;
}
.sec-seat.d-block {
    transition: all 1s ease;
}
.ticket-cointainer {
    display: none;
}
.bill-custom {
    --gap: 1.6rem;
}
.dt-bill {
    display: none;
}
.bill-fixed {
    animation: fadeInUp 0.3s ease-in-out;
    background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679586820_bogatyr-club-p-temno-fioletovii-fon-gradient-pinterest-44.jpg);
    border-top: 0.1rem solid rgba(248, 250, 252, 0.5);
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: sticky;
    transition: 0.3s ease-in-out;
    width: 100%;
    z-index: calc(55 - 5);
    color: white;
}

.sticky {
    position: sticky;
}
.bill-fixed .container {
    padding: 0;
}

.bill-custom .bill-wr {
    align-items: center;
    gap: var(--gap);
}
.bill-fixed .bill-wr {
    background-color: transparent;
    padding: 0;
    width: 100%;
}
.bill-wr {
    background: #639;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 3.2rem;
    width: 75%;
}
.bill-custom .bill-left {
    flex: 1;
    overflow: hidden;
}
.bill-fixed .bill-left {
    justify-content: center;
}
.bill-left,
.bill-right {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.bill-right .price .num {
    font-size: 24px;
    font-weight: 600;
}
.dt-bill .bill-wr .name-combo {
    font-size: 24px;
    letter-spacing: 0.024rem;
    font-weight: 700;
}
.bill-wr .name-combo {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
}
.dt-bill .list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 0px;
    font-weight: 600;
}
.dt-bill .item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}
.bill-custom-right {
    display: flex;
    gap: 1rem;
    width: 38rem;
}
.bill-coundown {
    background-color: #f3ea28;
    border: 0.1rem solid rgba(248, 250, 252, 0.5);
    border-radius: 0.4rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.bill-coundown .txt {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}
.bill-time {
    align-items: center;
    display: flex;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
.dt-bill .item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    font-weight: 600;
}

.bill-custom .bill-right {
    border-left: none;
    flex: 1;
    padding-left: 0;
}
.bill-fixed .bill-right {
    justify-content: center;
}
.bill-right {
    border-left: 0.1rem solid rgba(241, 245, 249, 0.5);
    padding-left: 3.2rem;
    width: 33.3333333333%;
}
.bill-fixed .bill-right .price {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: space-between;
}
.bill-right .price {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.opacity-40 {
    opacity: 0.4;
}
.opacity-30 {
    opacity: 0.3;
}
.pointer-events-none {
    pointer-events: none;
}
.popup {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 999;
}
.popup.open {
    pointer-events: visible;
    visibility: visible;
}
.popup.open .popup-overlay {
    height: 100%;
    opacity: 1;
    transform: translate(0);
    visibility: visible;
}
.btn.btn-xemthem {
    border: 0.1rem solid #f3ea28;
    color: #f3ea28;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    width: 150px;
}
.popup.open .popup-main {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    visibility: visible;
}
.popup-main,
.popup-overlay {
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    visibility: hidden;
}
.popup-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.popup-noti.--w7 .popup-main {
    width: 30rem;
}
.popup-noti .popup-main {
    width: 400px;
}
.popup-main {
    left: 50%;
    max-width: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    z-index: 2;
}
.popup-main-wrapper {
    border-radius: 6px;
    overflow: hidden;
}
.popup-noti .popup-over {
    min-height: 10vh;
}
.popup-over {
    max-height: 80vh;
    min-height: 40vh;
    overflow-y: auto;
}
.popup-noti .popup-wrapper {
    background: linear-gradient(106deg, #639, #36c 102.69%);
    min-height: 10vh;
    padding: 24px;
    text-align: center;
}
.popup-noti-des {
    font-size: 15px;
    font-weight: 500;
}
.popup-wrapper {
    background-color: #fff;
    min-height: 40vh;
    padding: 4.8rem 2rem 2rem;
    position: relative;
    width: 100%;
}
.popup-noti-wr {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.popup-noti-extra {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.popup-noti-extra div {
    flex: 1;
}
.popup-noti-title {
    font-family: "Anton", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.btn--outline:before {
    background: transparent;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}
.btn--outline:after {
    background: linear-gradient(90deg, #ff6d00, #ffc107);
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0;
    z-index: -1;
}
.btn--outline:after,
.btn--outline:before {
    content: "";
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 0.1rem;
}
.popup-noti .btn {
    margin: 0 auto;
    max-width: 40rem;
}
.btn--outline {
    border: 0.1rem solid #f3ea28;
    color: #f3ea28;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}
.movies-rp-noti {
    align-items: center;
    border: 0.1rem solid rgba(248, 250, 252, 0.5);
    border-radius: 0.4rem;
    display: flex;
    font-size: 14px;
    gap: 0.6rem;
    padding: 0.6rem 1rem;
}
.movies-rp-noti img {
    filter: brightness(0) invert(1);
    flex-shrink: 0;
    width: 20px;
}
.no-edit {
    user-select: none;
    pointer-events: none;
}
.ht {
    padding: 10rem 0;
    padding-top: 5rem;
}
.checkout-back .ic {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
}

.checkout-back .ic.ani-s {
    animation: ani-moveDown 1.2s linear 0.1s infinite;
    margin-left: -1.6rem;
}

.checkout-back .ic.ani-f {
    animation: ani-moveDown 1.2s linear 0.3s infinite;
}

.checkout-back .txt {
    transition: all 0.2s;
}

.checkout-back {
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 2.4rem;
    opacity: 0;
    transition: all 0.2;
}

@media screen and (max-width: 700px) {
    .checkout-back {
        display: flex;
        opacity: 1;
    }
}

.checkout-back:hover {
    color: #f3ea28;
}

.checkout-back:hover .ic img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(34%) saturate(6925%)
        hue-rotate(333deg) brightness(97%) contrast(98%);
}
.checkout .heading {
    text-align: left;
}
.checkout .process {
    display: flex;
    width: 50%;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    gap: 5.6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-left: 0px;
}
h4 {
    margin-bottom: 0px;
}
.text-error {
    color: red;
}
@media screen and (max-width: 700px) {
    .checkout .process {
        font-size: 12px;
        gap: 3.2rem;
    }
}

@media screen and (max-width: 360px) {
    .checkout .process {
        gap: 2.4rem;
    }
}

@media screen and (max-width: 700px) {
    .checkout .process {
        width: 100%;
    }
}
.process .process-item.active {
    color: #f3ea28;
}

.process .process-item.active:after {
    background: #f3ea28;
}
.process .process-item .link {
    display: flex;
    flex-direction: column;
}

.process .process-item .link br {
    display: none;
}

@media screen and (max-width: 460px) {
    .process .process-item .link br {
        display: block;
    }
}

.process .process-item:not(:first-child) {
    position: relative;
}

.process .process-item:not(:first-child):after {
    background: #d9d9d9;
    content: "";
    height: 0.2rem;
    left: -0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 4rem;
}

@media screen and (max-width: 700px) {
    .process .process-item:not(:first-child):after {
        width: 1.6rem;
    }
}

@media screen and (max-width: 360px) {
    .process .process-item:not(:first-child):after {
        width: 1.2rem;
    }
}
.form {
    background: #fff;
    color: #0f172a;
    padding: 3.6rem;
}

@media screen and (max-width: 1200px) {
    .form {
        padding: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .form {
        padding: 2rem;
    }
}

.form .heading {
    color: #0f172a;
    margin-bottom: 1.2rem;
}

.form .form-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
    margin-top: 2.4rem;
}

@media screen and (max-width: 768px) {
    .form .form-list {
        margin-top: 1.2rem;
    }
}

.form .form-it input {
    background-color: #fff;
    color: #0f172a;
    font-size: 16px;
    padding: 12px 36px 8px 16px;
    transition: all 0.3s;
}

.form .form-it input[type="date"],
.form .form-it input[type="file"] {
    box-sizing: border-box;
    display: inline-block;
    height: 3.2rem;
    opacity: 0;
    overflow: hidden;
    width: 100%;
}

.form .form-it .input {
    border: 0.1rem solid #e2e8f0;
    transition: all 0.3s;
}

.form .form-it .input:focus,
.form .form-it .input:hover {
    border: 0.1rem solid #64748b;
}

.form .form-it textarea {
    background-color: #fff;
    border: 0.1rem solid #e2e8f0;
    font-family: var(--font-pri);
    font-size: 1.6rem;
    font-weight: 400;
    min-height: 16.7rem;
    outline: none;
    padding: 1.4rem 1.6rem;
    transition: all 0.3s;
    width: 100%;
}

.form .form-it textarea:focus,
.form .form-it textarea:hover {
    border: 0.1rem solid #64748b;
}

.form .form-label {
    display: block;
    margin-bottom: 0.8rem;
}
.btn-submit {
    width: 100%;
}
.form .form-list .btn-submit {
    display: block;
    width: 100%;
}
.checkout-cus-left .form {
    background-color: transparent;
}
.checkout-cus-left .form {
    padding: 0;
}
.checkout-cus-left .form .form-list {
    margin-top: 0;
}
.form-payment .form-list {
    border-bottom: 0.2rem solid rgba(248, 250, 252, 0.1);
    padding-bottom: 2.4rem;
}
.form .form-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem 0;
    margin-top: 2.4rem;
}

@media screen and (max-width: 768px) {
    .form .form-list {
        margin-top: 1.2rem;
    }
}
.form .form-list .btn-submit {
    display: block;
    width: 100%;
}

[hidden] {
    display: none;
}
.inner-radio.inner-radio-white .form-label {
    background: transparent;
    border: 1px solid #64748b;
    color: #f8fafc;
    position: relative;
}

.inner-radio.inner-radio-white .form-label:after {
    background-color: #fff;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.inner-radio.inner-radio-white .form-label:hover:after {
    opacity: 1;
}

.inner-radio.inner-radio-white .form-label:hover .text {
    color: #0f172a;
}
.inner-radio-white [type="radio"] + label {
    cursor: pointer;
    position: relative;
    transition: all 0.3 ease;
}
.inner-radio-white [type="radio"] + label {
    cursor: pointer;
    position: relative;
    transition: all 0.3 ease;
}
@media screen and (max-width: 768px) {
    .btn-discount .tt,
    .checkout-payment .inner-radio .form-label .text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 700px) {
    .btn-discount .tt,
    .checkout-payment .inner-radio .form-label .text {
        font-size: 1.4rem;
    }
}
.inner-radio .form-label {
    background: #fff;
    border: 0.527px solid #f93;
}
.form .form-label {
    display: block;
    margin-bottom: 0.8rem;
}
.btn-discount,
.inner-radio .form-label {
    align-items: center;
    background: #36c;
    border-radius: 0.4rem;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 0;
    padding: 1.2rem;
    position: relative;
    width: 100%;
}
.form-payment .btn-discount {
    margin-top: 2.4rem;
}
.btn-discount {
    align-items: flex-start;
    position: relative;
    transition: all 0.3s ease;
}
.btn-discount .img {
    height: 3rem;
    width: 3rem;
}

@media screen and (max-width: 768px) {
    .btn-discount .img {
        height: 2.4rem;
        width: 2.4rem;
    }
}

@media screen and (max-width: 700px) {
    .btn-discount .img {
        height: 1.6rem;
        width: 1.6rem;
    }
}
.btn-discount .text,
.btn-discount img {
    position: relative;
    transition: all 0.2s;
    z-index: 2;
}
.btn-discount:after {
    background: linear-gradient(
        106deg,
        rgba(102, 51, 153, 0.9),
        rgba(51, 102, 204, 0.9) 102.69%
    );
    border-radius: 0.4rem;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 1;
}
.btn-discount:hover {
    box-shadow: 0 0 1.1rem #36c;
    cursor: pointer;
}

.btn-discount:hover:after {
    opacity: 1;
}

.btn-discount:hover img {
    transform: scale(1.2) rotate(30deg);
}
.form-payment .btn {
    margin-top: 4rem;
}
.form-checkout-cus,
.form-cus .form-control {
    border-radius: 0.4rem;
}

@media screen and (max-width: 1024px) {
    .form-checkout-cus {
        padding: 1.2rem;
    }
}

.form-checkout-cus .tt {
    color: #f3ea28;
}

@media screen and (max-width: 700px) {
    .form-checkout-cus .tt {
        font-size: 12px;
    }
}

.form-checkout-cus .ct {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .form-checkout-cus .ct {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .form-checkout-cus .ct {
        font-size: 14px;
    }
}

.form-checkout-cus .dt {
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    .form-checkout-cus .dt {
        font-size: 10px;
    }
    .form-checkout-cus .cinestar-br .dt {
        display: none;
        font-size: 14px;
    }
}

.form-checkout-cus .inner-info:first-child {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    .form-checkout-cus .inner-info:first-child {
        font-size: 16px;
        letter-spacing: 0.16px;
    }
}
.form-main {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding-bottom: 1.2rem;
}
.form-main .inner-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2.4rem;
    width: 100%;
}
.form-checkout-cus .inner-info:first-child {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.form-checkout-cus .bill-coundown-custom.inner-info-row {
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}
.form-checkout-cus .bill-coundown-custom {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}
.form-checkout-cus .bill-coundown-custom .txt {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}
.form-checkout-cus .bill-coundown {
    align-items: center;
    display: flex;
    gap: 0.6rem;
    justify-content: flex-start;
    padding: 0.2rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
}
.bill-coundown {
    background-color: #f3ea28;
    border: 0.1rem solid rgba(248, 250, 252, 0.5);
    border-radius: 0.4rem;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.form-checkout-cus .bill-time {
    font-size: 16px;
}
.bill-time {
    align-items: center;
    display: flex;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    letter-spacing: 0.1rem;
}
.form-main .inner-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2.4rem;
    width: 100%;
}
.form-checkout-cus .tt {
    color: #f3ea28;
}
.form-checkout-cus .ct {
    font-size: 20px;
}
.form-checkout-cus .dt {
    font-size: 14px;
}
.form-footer {
    border-top: 0.2rem dashed #f8fafc;
    padding-top: 1.2rem;
}
.form-checkout-cus .inner-info:first-child {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.form-footer .inner-info-row {
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    justify-content: space-between;
}
.form-footer .inner-info-row .ct {
    font-size: 2.6rem;
    font-weight: 600;
}
.form-checkout-cus {
    background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679586820_bogatyr-club-p-temno-fioletovii-fon-gradient-pinterest-44.jpg);
    padding: 2.4rem;
    color: white;
    background-size: cover;
}

.checkbox-input:checked
    ~ .checkbox-label.checkbox-label-custom
    .checkbox-label-custom-sqr {
    background-color: #e47200;
    border-color: #f93;
}
.checkbox-label.checkbox-label-custom .checkbox-label-custom-sqr {
    border: 0.1rem solid #d9d9d9;
    border-radius: 0.4rem;
    display: inline-block;
    height: 1.6rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 1.6rem;
}
.checkbox-input {
    display: none;
}
.checkbox-label.checkbox-label-custom {
    align-items: center;
    display: flex;
    gap: 0.6rem;
}
.tab-price-ticket .tab-control .list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    color: white;
}
.price-ticket .tab-control {
    margin-bottom: 2.4rem;
    margin-left: unset;
    margin-right: unset;
}
.tab-control {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.tab-price-ticket .tab-control .it.active,
.tab-price-ticket .tab-control .it:hover {
    border-bottom: 0.4rem solid #f3ea28;
    color: #f3ea28;
}
.tab-price-ticket .tab-control .it {
    border-bottom: 0.4rem solid transparent;
    cursor: pointer;
    display: block;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    min-width: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: -moz-fit-content;
    width: fit-content;
}
.price-ticket .tab-image .image:not(:first-child) {
    display: none;
}
.tab-image .image img {
    width: 100%;
}
