:root {
    --font-title: "Anton", sans-serif;
    --font-pri: "Josefin Sans", sans-serif;
    --size-hd: 12rem;
    --size-note: 4rem;
    --size-hd-total: 16rem;
    --size-hd-sm: 6rem;
    --size-mobile-nav-bt: 6rem;
    --sz-hd-top: 5.8rem;
    --sz-hd-mid: 7.8rem;
    --sz-hd-bot: 5rem;
    --sz-hd: calc(var(--sz-hd-mid) + var(--sz-hd-bot) + var(--sz-hd-top));
    --z: 55;
    --pd-container: 1.5rem;
    --w-container: 123rem;
    --rs: .8rem;
    --sp-sc: 10rem;
    --pc: calc((100vw - var(--w-container))/2);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--pd-container);
    padding-right: var(--pd-container);
    width: 100%;
}
.heading {
    color: #f8fafc;
    font-family: var(--font-title);
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.pro-img {
    display: block;
    overflow: hidden;
    position: relative;
}
.pro-img img {

    width: 100%;

}
.promotion-movie-wr {
    justify-content: space-between;
}
.pb-80 {
    padding-bottom: 4rem;
}
.pro-row {
    --col-gap: 1rem;
    --row-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--col-gap) / 2* -1) calc(var(--row-gap)* -1);
}

.promotion-it:first-child {
    width: 45.8333333333%;
}

.col {
    --row-gap: 2.4rem;
    --col-gap: 2.4rem;
    margin-bottom: var(--row-gap);
    padding: 0 calc(var(--col-gap) / 2);
}

.promotion-content {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}
@media screen and (max-width: 1200px) {
    .promotion-it .sub-tittle {
        font-size: 2rem;
    }
}
.sub-tittle {
    font-weight: bold;
    color: #f8fafc;
    font-family: "Anton",sans-serif;
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.promotion-it .sub-tittle {
    text-transform: uppercase;
}


.promotion-it .desc {
    font-weight: 600;
    color: #f8fafc;
    font-family: "Josefin Sans", sans-serif;;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.promataion-content {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;


}
.promotion-content .inner .tt {
    margin-bottom: 1.2rem;
    margin-bottom: .8rem;
    color: #f8fafc;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.head {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.promotion-content .btn {
    width: 20rem;
}
.btn--pri {
    color: #0f172a;
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.btn--pri:before {
    background: #f3ea28;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -2;
}
.btn {
    background-color: transparent;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    font-family: var(--font-title);
    gap: 1rem;
    letter-spacing: .8px;
    outline: none;
    overflow: hidden;
    padding: .8rem 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.promotion-content .inner .list {
    color: #f8fafc;
    list-style-type: disc;
    margin-left: 1.6rem;
}
.ht {
    padding: 2rem 0;
    padding-top: 0;
}
img {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    display: block;
    transition: all .2s;
}
.promotion-image {
    display: block;
    height: auto;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.promotion-image img {
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.ht-qc {
    margin-bottom: 4rem;
    padding: 10rem 2rem;
    position: relative;
}

.ht-qc-br, .ht-qc-br:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ht-qc-br {
    z-index: -1;
}

.ht-qc-br:before {
    background: rgba(0, 13, 57, .5);
    content: "";
}

.ht-qc-br img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    align-items: center;
}

.ht-qc-content {
    color: #f8fafc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    max-width: 50rem;
    text-align: center;
}

.au-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

.au-col {
    margin-bottom: 2.4rem;
    padding: 0 calc(2.4rem / 2);
    width: 100%;
}

.au-col-4 {
    width: 33.3333333333%;
}

.ht-as-wr {
    background: rgba(51, 102, 204, .8);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 100%;
    padding: 2.4rem;
    text-align: center;
    width: 85%;
}

.ht-as-wr .num {
    color: #f3ea28;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 100%;
    margin: 0 auto;
}

.ht-as-wr h3 {
    color: #f8fafc;
}

.ht-as-list-row {
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--col-gap) / 2* -1) calc(var(--row-gap)* -1);
}

.gallery {
    padding-top: 5rem;
    column-gap: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gallery .gallery-item-wrap {
    position: relative;
}

.gallery .gallery-item-images {
    display: block;
}

.gallery .gallery-item-images img {
        display: block;
        height: auto;
        transition: all .2s;
        width: 350px;
}

.gallery .gallery-item-content {
    text-align: center;
}

.gallery-item {
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.gallery .gallery-item-images .gallery-item-image:first-child {
    display: block;
}

.gallery .gallery-item-content h2 {
    font-size: .9rem;
    margin: 2.4rem 0;
}


.ts .sec-heading .des {
    margin: 0 auto;
    max-width: 66rem;
    color: #f8fafc;
}

.swiper-container {
    overflow: hidden;
}

.ts-slider .swiper {
    --col-gap: 0;
}

.ts-slider .swiper-container .swiper .swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transform: translateZ(0);
    transition-property: transform;
    width: 100%;
    z-index: 1;
}

.swiper-slide {
    height: auto;
    overflow: hidden;
}

.swiper.rows .col {
    margin-bottom: 0;
}

.ts-wr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.ts-img, .ts-img:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


.ts-img:before {
    background: linear-gradient(90deg, #36c 6.67%, rgba(51, 102, 204, 0) 71.15%);
    content: "";
    z-index: 1;
}

.ts-img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.ts-content {
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
}

.ts-content .ts-name {
    color: #f3ea28;
    font-size: 2rem;
    text-align: left;
    padding-left: 2rem;
}

.ct-tt {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.ct-tt li {
    display: flex;
    gap: 1rem;
}

.ct-tt li img {
    width: 2.4rem;
}

.ct-tt li a {
    flex: 1;
    color: #f8fafc;
    text-decoration: none;

}


.rows {
    --col-gap: 2.4rem;
    --row-gap: 2.4rem;
    margin: 0 calc(var(--col-gap) / 2* -1);
}

.swiper {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.contact-branch-wr .contact-branch-heading .desc .txt {
    margin: 0 auto;
    max-width: 66rem;
    color: white;
    font-weight: 600;
}

.contact-branch-body {
    padding-bottom: var(--sp-sc);
}

.contact-branch-left .image {
    display: block;
    height: auto;
    position: sticky;
    width: 100%;
}

.branch-item.address-item:not(:last-child) {
    margin-bottom: 2.4rem;
}

.branch-item .address-box {
    pointer-events: visible;
    padding: 1.6rem;
}

.address-box-head {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;

}

.address-item .list {
    margin-top: 1.2rem;
}

.address-box {
    background: linear-gradient(106deg, rgba(102, 51, 153, .8), rgba(51, 102, 204, .8) 102.69%);
    height: 10%;
    padding: 2.4rem;
    text-align: left;
}
.address-box .item {
    margin-bottom: .8rem;
}   

.address-box .link {
    align-items: center;
    color: #f8fafc;
    display: flex;
    gap: 0 .8rem;
    pointer-events: visible;
    text-decoration: none;
}

.address-box .item:nth-child(2) .link {
    text-decoration: underline;
    text-underline-position: under;
}

.address-item .link, .address-item .link .ic {
    transition: all .2s;
}

.address-box .link .ic img {
    height: 1.6rem;
    width: 1.6rem;
}

.contact-branch-left .image img {
    display: block;
    height: auto;
    transition: all .2s;
    width: 100%;
}